body { 
  margin:0;
  padding:0;
}

#map {
  position: relative;
  margin: 40px auto;
  width: 650px;
  height: 600px;
}

#floorMenu {
	position: absolute;
	background: #fff;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 20px;
  min-height: 40px;
  width: 80px;
	font-family: 'Open Sans', sans-serif;
  z-index: 20;
}

.toggle-floor {
  padding: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  height: 30px;
  border: 0.5px solid rgba(0,0,0,0.4);
}

.button-first {
  border-top: 0.5px solid rgba(0,0,0,0.4);
  border-radius: 3px 3px 0 0;
}

.button-last {
  border-bottom: 0.5px solid rgba(0,0,0,0.4);
  border-radius: 0 0 3px 3px;
}

.toggle-floor:hover:not(.active-button) {
  background-color: #f8f8f8;
  color: #404040;
}

.active-button {
  background-color: #4283f4;
  color: white;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}