body { 
  margin:0;
  padding:0;
  color: black;
}

html {
  height: 100%;
}

header {
  z-index: 25;
}

#map {
  z-index: 24 !important;
  position: absolute;
  top: 60px;
  left: 100px;
  width: calc(100% - 100px);
  height: 600px;
}

#floorMenu {
	position: absolute;
	background: #fff;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 20px;
  min-height: 40px;
  width: 80px;
	font-family: 'Open Sans', sans-serif;
  z-index: 20;
  border-radius: 3px;
}

.toggle-floor {
  padding: 0px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  height: 34px;
  border: 0.5px solid rgba(0,0,0,0.4);
}

.button-first {
  border-top: 0.5px solid rgba(0,0,0,0.4);
  border-radius: 3px 3px 0 0;
}

.button-last {
  border-bottom: 0.5px solid rgba(0,0,0,0.4);
  border-radius: 0 0 3px 3px;
}

.toggle-floor:hover:not(.active-button) {
  background-color: #f8f8f8;
  color: #404040;
}

.active-button {
  background-color: #4283f4;
  color: white;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.nav-wrapper {
  padding-left: 80px;
}

#logoImg {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 50px;
  height: 50px;
}

#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 0;
  z-index: 999;
  height: 100vh;
}

#menu {
  background-color: white;
  position: relative;
  height: 100vh;
  color: grey;
  margin-left: 100px;
  padding: 10px;
  width: 300px;
  z-index: 999 !important;
  height: 100vh;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.137255),
              3px 0px 2px 1px rgba(0, 0, 0, 0.117647),
              1px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

#left-sidebar-nav > ul > li {
  margin: 15px;
}

.active-item {
  border-left: 4px solid #2196F3;
  margin-left: 11px !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #2196F3;
}

input[type="checkbox"]:checked+span:not(.lever):before{
  border-right: 2px solid #2196F3;
  border-bottom: 2px solid #2196F3;
}

.switch label input[type=checkbox]:checked+.lever{
  background-color: #2196F3;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}

.material-icons.md-16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}
.material-icons.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.material-icons.md-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
.material-icons.md-36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}
.material-icons.md-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}