:root {
  --mdc-theme-primary: #fafbfd;
  --mdc-theme-secondary: #fafbfd;
  --mdc-theme-on-primary: #4494ed;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-background: #fff;
}

body { 
  margin:0;
  padding:0;
}

html {
  height: 100%;
}

header {
  z-index: 25;
}

#map {
/*  position: relative;
  width: 100%;*/
  height: 600px;
}

#floorMenu {
	position: absolute;
	background: #fff;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 20px;
  min-height: 40px;
  width: 80px;
	font-family: 'Open Sans', sans-serif;
  z-index: 20;
  border-radius: 3px;
}

.toggle-floor {
  padding: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  height: 30px;
  border: 0.5px solid rgba(0,0,0,0.4);
}

.button-first {
  border-top: 0.5px solid rgba(0,0,0,0.4);
  border-radius: 3px 3px 0 0;
}

.button-last {
  border-bottom: 0.5px solid rgba(0,0,0,0.4);
  border-radius: 0 0 3px 3px;
}

.toggle-floor:hover:not(.active-button) {
  background-color: #f8f8f8;
  color: #404040;
}

.active-button {
  background-color: #4283f4;
  color: white;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* Place drawer and content side by side. */
.demo-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Stack toolbar and main on top of each other. */
.demo-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.demo-main {
  margin-top: 50px;

}

#asideMenu {
  z-index: 25;
}